.container {
  min-width: 300px;
}

.accountItem {
  margin-top: var(--mantine-spacing-md);
}

.dragHandle {
  cursor: grab;
}

.dragHandle:active {
  cursor: grabbing;
}

.actionButtons {
  margin-top: var(--mantine-spacing-md);
}
